.found-game {
    margin-top: 0;
}

.page-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    &-genre {
        margin-bottom: 1.5rem;
        font-weight: 700;
    }
    &-platform {
        margin-bottom: 1.5rem;
        font-weight: 700;
    }
    &-description {
        font-weight: 700;
    }
}