.page-display {
    margin-top: 10rem;
    margin-bottom: 1.5rem;
    &-img {
        width: min(640px, 100%);
        height: 12rem;
        margin: 1rem;
        object-fit: contain;
    }
    &_title {
        font-weight: 700;
        font-size:3rem;
    }
}