.page-display {
    margin-top: 10rem;
    margin-bottom: 1.5rem;
    &-img {
        height: 12rem;
        margin: 1rem;
    }
    &_title {
        font-weight: 700;
        font-size:5rem;
    }
}