// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.add-game {
	max-width:500px;
	width:100%;
	margin: 5rem auto;
	height: 80vh;
	position:relative;
}

// #add-game_form input[type="text"], #add-game_form input[type="text"], #add-game_form input[type="text], #add-game_form button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif }

#add-game_form{
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#add-game_form h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#vh4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#add-game_form input[type="text"], #add-game_form input[type="text"], #add-game_form input[type="text"], #add-game_form textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#add-game_form input[type="text"]:hover, #add-game_form input[type="text"]:hover, #add-game_form input[type="text"]:hover, #add-game_form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#add-game_form textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#add-game_form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#add-game_form button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#add-game_form button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#add-game_form input:focus, #add-game_form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
