.footer {
    width: 100vw;
    height: 5rem;
    background-color: #90e0ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-info {
    width: 95vw;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}